/* Untuk Tablet */
@media all and (max-width: 1000px) {


}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .logo {
    width: 75px
    height: 30px
  }
  
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
}
